<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="shortcut icon" href="~/football-ball.svg" />
</head>
<body>
    <header class="app-header">
        <div class="app-logo"><a asp-action="Index" asp-controller="Home"><img src="~/football-ball.svg" alt="Logo" /></a></div>
        <div class="app-hamburger"><img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Hamburger_icon_white.svg" alt="Menu" /></div>
        <ul class="app-header-menu">
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <form asp-action="Logout" asp-controller="Account" method="post">
                        <input type="submit" value="Wyloguj" class="btn btn-danger" />
                    </form>
                </li>
            }
            else
            {
                <li class="spec-eff"><a class="nav-link text-light" asp-action="Register" asp-controller="Account">Rejestracja</a></li>
                <li class="spec-eff"><a class="nav-link text-light" asp-action="Login" asp-controller="Account">Login</a></li>
            }
        </ul>
    </header>
    <aside class="app-sidebar">
        <ul class="app-sidebar-menu">
            <li><a asp-action="Highlights" asp-controller="Home" class="nav-link text-light">Wideo</a></li>
            <li><a asp-action="Standings" asp-controller="Home" asp-route-competition="PD" class="nav-link text-light">Wyniki</a></li>
            <li><a asp-action="Index" asp-controller="Home" class="nav-link text-light">News</a></li>

            <li><a href="/Chat/Index" class="nav-link text-light">Chat</a></li>

            <li><hr /></li>
            <li><a asp-action="Index" asp-controller="Admin" class="nav-link text-light">Panel admina</a></li>
            <li><a asp-action="About" asp-controller="Home" class="nav-link text-light">O mnie</a></li>


        </ul>
    </aside>
    <main class="app-main">
        <div>
            @RenderBody()
        </div>
    </main>
    <br />
    <br />
    <div class="app-footer">&copy; Piotr Ptak 2021-@DateTime.Now.Year</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jqueryLogic.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
