@{
    ViewData["Title"] = "Dostep zablokowany";
}
<h1>Dostep zablokowany</h1>
<h3>Twoja rola lub status nie pozwala uzyskać dostępu do żądanego zasobu</h3>
<img src="https://i.pinimg.com/originals/e6/d4/7c/e6d47c47c58e734a5362a5d6581953ee.jpg" alt="Access Denied" />