@model ForgotPasswordModel 

@{ 
    ViewData["Title"] = "Zapomnialem/am hasla";
}

<form asp-action="ForgotPassword" asp-controller="Account" method="post" class="container">
    <div class="row">
        <label class="col-sm-4 col-form-label">Email</label>
        <input class="col-sm-6 form-control" asp-for="Email" />
        <span class="col-sm-2" asp-validation-for="Email"></span>
    </div>
    <div class="row">
        <label class="col-sm-4 col-form-label">Potwierdz email</label>
        <input class="col-sm-6 form-control" asp-for="ConfirmEmail" />
        <span class="col-sm-2" asp-validation-for="ConfirmEmail"></span>
    </div>
    <input type="submit" value="Przypomnij" class="btn btn-outline-secondary" />
</form>
