@model ChangePasswordModel

@{ 
    ViewData["Title"] = "Zmien haslo";
}

<form asp-action="ResetPassword" asp-controller="Account" method="post" 
      asp-route-email="@ViewData["Email"]" asp-route-token="@ViewData["Token"]">
    <div class="row">
        <label class="col-sm-4 col-form-label">Nowe haslo</label>
        <input class="col-sm-6 form-control" asp-for="NewPassword" />
        <span class="col-sm-2" asp-validation-for="NewPassword"></span>
    </div>
    <div class="row">
        <label class="col-sm-4 col-form-label">Potwierdz</label>
        <input class="col-sm-6 form-control" asp-for="ConfirmNew" />
        <span class="col-sm-2" asp-validation-for="ConfirmNew"></span>
    </div>
    <input type="submit" value="Zmien" class="btn btn-outline-danger" />
</form>