@model NewsCreateDTO

@{ 
    ViewData["Title"] = "Dodaj newsa";
}

<form asp-action="Add" asp-controller="News" method="post">
    <div class="row">
        <label class="col-form-label col-sm-4" asp-for="PhotoUrl"></label>
        <input class="form-control col-sm-8" asp-for="PhotoUrl" />
    </div>
    <div class="row">
        <label class="col-form-label col-sm-4" asp-for="Title"></label>
        <input class="form-control col-sm-8" asp-for="Title" />
    </div>
    <div class="row">
        <label class="col-form-label col-sm-4" asp-for="Description"></label>
        <input class="form-control col-sm-8" asp-for="Description" />
    </div>
    <div asp-validation-summary="All"></div>
    <input type="submit" value="Dodaj" class="btn btn-success" />
</form>